<h1>Funciona el menu</h1>

{{!-- <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script>
    const socket = io();
    socket.on("users", data => console.log(data))
</script> --}}