<div class="d-flex">
    <div id="registerProducts" class="w-50 d-flex flex-column align-items-center">
        <h2>Register</h2>
        <input type="text" name="title" id="title" placeholder="Name Product">
        <input type="number" name="price" id="price" placeholder="Price">
        <input type="text" name="photo" id="photo" placeholder="Photo">
        <input type="text" name="category" id="category" placeholder="Category">
        <input type="number" name="stock" id="stock" placeholder="Stock">
        <input type="button" value="Register" id="registerButton" >
    </div>
    <div class="w-50">
        <h3 class="">Products List</h3>
        <div id="products" class="row"></div>
    </div>    
</div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script>
    const socket = io();
    socket.on("products", data => {
        let template = ``
        template = data.map(each =>`
                    <div class="col p-1">
                        <div class="card" style="width: 20rem;"> 
                            <div class="card-body"> 
                                <h4 class="card-title">${each.title}</h4>
                                <a class="btn btn-outline-primary" href="/products/${each.id}" role="button">Details</a>
                            </div>    
                        </div>
                    </div>    
        `
        ).join("")
        document.querySelector("#products").innerHTML = template
    })
    document.querySelector("#registerButton").addEventListener("click",(event)=>{
        const title = document.querySelector("#title").value
        const price = document.querySelector("#price").value
        const photo = document.querySelector("#photo").value
        const category = document.querySelector("#category").value
        const stock = document.querySelector("#stock").value
        socket.emit("newProduct", {title, price, photo, category, stock})
    })
</script>