<div class="container d-flex justify-content-center align-items-center">
    <div class="card" style="width: 22rem;">
        <img src="{{user.photo}}" class="card-img-top" alt="User Photo">
        <div class="card-body">
            <h3 class="card-title">{{user.email}}</h3>
            <p class="card-text">{{user.password}}</p>
            <p class="card-text">{{user.role}}</p>
        </div>
    </div>
</div>
    
<style>
        .container {
            height: 90vh;
        }
</style>