<div class="d-flex">
    <div id="register" class="w-50 container d-flex flex-column align-items-center">
        <h2>Register</h2>
        <input type="text" name="photo" id="photo" placeholder="Photo">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="button" value="Register" id="registerButton" >
    </div>
    <div class="w-50">
        <h3 class="">Users List</h3>
        <div id="users" class="row"></div>
    </div>    
</div>

<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script>
    const socket = io();
    socket.on("users", data => {
        let template = ``
        template = data.map(each =>`
            <div class="col p-1">
                <div class="card" style="width: 20rem;">
                        <div class="card-body"> 
                            <h4 class="card-title">${each.email}</h4>
                            <a class="btn btn-outline-primary" href="/users/${each.id}" role="button">Details</a>
                        </div>
                </div>
            </div>    
        `
        ).join("")
        document.querySelector("#users").innerHTML = template
    })
    document.querySelector("#registerButton").addEventListener("click",(event)=>{
        const photo = document.querySelector("#photo").value
        const email = document.querySelector("#email").value
        const password = document.querySelector("#password").value
        socket.emit("newUser", {photo, email, password})
    })
</script>